@page "/portfolio"
@page "/porfolio/{userId:int}"
@inject ICoinsScreenUseCases CoinsScreenUseCases
@inject IApplicationUsersUseCases ApplicationUsersUseCases
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Coins</h3>

@if (coins != null)
{
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coin in coins)
        {
            <CoinListComponent coin="coin"></CoinListComponent>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="AddCoin">Add Coin</button>
}


@code {
    IEnumerable<Coin> coins;


    protected override async Task OnInitializedAsync()
    {
        coins = await CoinsScreenUseCases.ViewCoinsAsync();

    }
    private void AddCoin()
    {
        NavigationManager.NavigateTo("/addcoin");
    }

}
